<!DOCTYPE HTML>
<!--
	Spectral by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Shifty - Tax & Payroll</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
    <link rel="stylesheet" href="assets/css/style.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.2/css/all.css">
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header">
						<h1><a href="/calendar">Shifty</a></h1>
						<nav id="nav">
							<ul>
								<li class="special">
									<a href="#menu" class="menuToggle"><span>Menu</span></a>
									<div id="menu">
										<ul>
											<li><a href="/calendar">Schedule</a></li>
                      <li><a href="/taxPayroll">Tax & Payroll</a></li>
											<li><a href="/logout">Logout</a></li>
										</ul>
									</div>
								</li>
							</ul>
						</nav>
					</header>

				<!-- Main -->
					<article id="main">
						<section class="wrapper style5">
							<div class="inner">

                <section>
                  <div class="chartAndInfo">
                    <div class="dNutChart">
                      <h3><span>Date of Pay:</span> September 29, 2022</h3>
                      <canvas id="myChart"></canvas>
                    </div>
                    <div class="payDayInfo">
                      <div class="takeHome">
                        <h2>Take Home</h2>
                        <h2 style="color: rgb(34, 170, 34);">$685.26</h2>
                      </div>
                      <div class="table-wrapper">
                        <table>
                          <thead>
                            <tr class="payDayInfoHours">
                              <th>Gross</th>
                              <th>Hours</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr class="payDayInfoHours">
                              <td>$793.44</td>
                              <td>48</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="table-wrapper">
                        <table>
                          <thead>
                            <tr>
                              <th>Type</th>
                              <th>Units</th>
                              <th>Rate</th>
                              <th>Amount</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>Regular</td>
                              <td>48</td>
                              <td>$16.53</td>
                              <td>$793.44</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </section>

              <section>
                <div class="table-wrapper">
                  <table>
                    <thead>
                      <tr>
                        <th><span style="color: rgb(231, 11, 91);" class="fa-solid fa-circle"></span><h4 style="display: inline;"> Taxes</h4></th>
                        <th>-$99.77</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Social Security Tax</td>
                        <td>-$52.15</td>
                      </tr>
                      <tr>
                        <td>Medicare Tax</td>
                        <td>-$12.14</td>
                      </tr>
                      <tr>
                        <td>State Income Tax</td>
                        <td>-$22.25</td>
                      </tr>
                      <tr>
                        <td>Federal Income Tax</td>
                        <td>-$13.23</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="table-wrapper">
                  <table>
                    <thead>
                      <tr>
                        <th><span style="color: rgb(234, 111, 11);" class="fa-solid fa-circle"></span><h4 style="display: inline;"> Retirement</h4></th>
                        <th>-$8.41</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>401K Pre Basic</td>
                        <td>-$8.41</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="table-wrapper">
                  <table>
                    <thead>
                      <tr>
                        <th><span style="color: rgb(34, 170, 34);" class="fa-solid fa-circle"></span><h4 style="display: inline;"> Take Home</h4></th>
                        <th>$685.26</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Netpay-Checking (xxxxxx2323)<br></td>
                        <td>$685.26</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </section>
          
              </div>
						</section>
					</article>

				<!-- Footer -->
        <footer id="footer">
          <ul class="icons">
            <li><a href="https://github.com/Cesar-Quintero" target="_blank" class="icon brands fa-github"><span class="label">Github</span></a></li>
            <li><a href="https://www.linkedin.com/in/cesarqdev/" target="_blank" class="icon brands fa-linkedin"><span class="label">LinkedIn</span></a></li>
            <li><a href="https://realcesarquintero.com/" target="_blank" class="fa-solid fa-briefcase"><span class="label"></span></a></li>
            <li><a href="https://angel.co/u/cesar-quintero" target="_blank" class="icon brands fa-angellist"><span class="label">Twitter</span></a></li>
            <li><a href="https://twitter.com/CesarQDev" target="_blank" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
          </ul>
          <ul class="copyright">
            <li>&copy; Cesar Quintero</li>
          </ul>
        </footer>

			</div>

		<!-- Scripts -->
    <script src="assets/js/script.js"></script>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.scrollex.min.js"></script>
    <script src="assets/js/jquery.scrolly.min.js"></script>
    <script src="assets/js/browser.min.js"></script>
    <script src="assets/js/breakpoints.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="assets/js/chart.js"></script>

	</body>
</html>